/* General styles for all menus */
.cbp-spmenu {
	background: #444;
	position: fixed;
	font-family: Helvetica, sans-serif;
}

.cbp-spmenu a {
	display: block;
	font-size: 1em;
	font-weight: 300;
	color: #aaa;
}

.cbp-spmenu a:hover {
	color: #09b;
	background: #fff;
	text-decoration: none;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
	padding-top: 8em;
}

.cbp-spmenu-vertical a {
	padding: 1em 28px 1em; 
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}


.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}


/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}