      body {
        color: #444;
        background: #fff;
        font-family: 'Gentium Book Basic', Georgia, serif;
        font-size: 100%;
        line-height: 1.5;
        font-weight: 400;
      }
      
      
      h1, h2, .h1, .h2 {
        font-weight: 400;
        line-height: 1.25;
        margin-top: .5em;
      }
      
      h1, .h1 {
        font-size: 32px;
      }
      
      h2, .h2 {
        font-size: 24px;
      }
      
      h3, .h3 {
        font-size: 20px;
        margin-bottom: 0;
      }
      
      p, .p, ul, ol {
        font-size: 18px;
      }
      
      small, .small {
        font-size: 14px;
      }
      
      strong, .strong {
        font-weight: 700;
      }
      
      p, ul, ol { 
        margin-top: 1em; 
        padding: 0;
      }
      
            @media screen and (min-width: 480px) {
              h1, .h1 { font-size: 48px; }
              h2, .h2 { font-size: 32px; }
              h3, .h3 { font-size: 24px; }
              p, .p, ul, ol { font-size: 20px;}
              small, .small { font-size: 16px;}
            }
            
            @media screen and (min-width: 640px) {
              h1, .h1 { font-size: 64px; }
              h2, .h2 { font-size: 48px; } 
              h3, .h3 { font-size: 32px; }
            }

      .wrap {
        width: 90%;
        padding: 0 5%;
        max-width: 48em;
        margin: 0 auto;
        overflow: hidden;
      }

      article {
        margin-top: 4em;
      }

      a {
        color: #09b;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }

      header {
        width: 90%;
        padding: 2em 5% 0;
        max-width: 48em;
        margin: 0 auto;
        overflow: hidden;
      }

      header h1, header p {
        margin: 0;
      }
      
      header a, a.post-title {
        color: #444;
      }
      
      a.post-title:hover {
        text-decoration: none;
        color: #09b;
      }
      
      header a:hover {
        text-decoration: none;
      }

      .post img, {
        max-width: 100%;
      }
      
      .post iframe, .video object {
        width: 100%;
        max-width: 100%;
      }
      
      .post blockquote {
        padding-left: 1em;
        border-left: 1px solid #ddd;
      }
      
      .post ul, .post ol {
        margin-left: 2em;
      }
      
      .post footer ul, .post footer ol {
        margin: 0;
      }
      
      .quote blockquote {
        padding: 0;
        border: none;
        font-style: italic;
      }
      
      .quote .comments {
        text-align: right;
      }

      .post footer {
        padding: 0;
        margin-top: 1em;
        color: #aaa;
        font-style: italic;
      }
      
      .post footer a {
        color: #aaa;
      }
      
      .post footer a:hover {
        color: #999;
      }

      .post footer .comments {
        float: right;
        margin-right: 0;
      }
      
      .post footer ul li {
        display: inline-block;
        margin-right: 1em;
      }

      .pagination {
        margin-top: 4em;
        text-align: center;
        line-height: 3em;
        overflow: hidden;
      }

      .pagination a {
        display: block;
        height: 3em;
        padding: 0 1em;
        border-radius: 0.25em;
      }
      
      .pagination a:hover {
        background: #eee;
        text-decoration: none;
      }
      
      .pagination .previous {
        float: left;
      }
      
      .pagination .next {
        float: right;
      }

      footer.wrap {
        padding-top: 2em;
        padding-bottom: 2em;
      }

      /* comments */

      aside.comments {
        margin-top: 4em;
      }
      
      ol.comments {
        list-style: none;
        margin-top: 1em;
      }
      
      ol.comments, ol.comments a {
        color: #aaa;
      }
      
      li.comment {
        display: block;
        line-height: 2em;
        padding: 0.5em 1em;
      }

      ol.comments li.comment img.avatar {
        display: block;
        float: left;
        width: 2em;
        height: 2em;
        margin-right: 1em;
        border-radius: 1em;
      }
      
      .comments .comment-text a {
        color: #444;
      }
      
      .comment-text {
        display: block;
        margin-left: 3em;
      }
      
      .comments .children {
        padding-left: 1em;
        border-left: 1px solid #ddd;
      }